{% extends "base.html.twig" %}

{% block title %}Réservation - La Palme
{% endblock %}

{% block body %}

	<h2 class="text-center text-white mt-2">Espace Réservation</h2>

	
		<div class="col-6 mx-auto">
			{% include 'include/_flashes.html.twig' %}
		</div>
	

	
		<div class="col-8 mx-auto">

			{{ form_start(form) }}

			<div class="row">
				<div class="col-6">{{ form_row(form.nom) }}</div>
				<div class="col-6">{{ form_row(form.prenom) }}</div>
				<div>{{ form_row(form.email) }}</div>
				<div>{{ form_row(form.personne) }}</div>
			</div>

			<div class="row">
				<div>{{ form_row(form.date) }}</div>
			</div>

			{{ form_row(form.submit) }}

			{{form_end(form)}}

		</div>


{% endblock %}
