<footer>
	<ul class="footer">
		<li>
			<a href="{{path('mentions_legales')}}" class="text-muted">Mentions légales</a>
		</li>
		<li>
			<a href="{{path('inscrire_newsletter')}}" class="text-muted">S'inscrire à la newsletter</a>
		</li>
		<li>
			<a href="{{path('partage')}}" class="text-muted">Partage</a>
		</li>
			{% if not is_granted('ROLE_ADMIN') %}
		<li>
			<a href="{{path('app_login')}}" class="text-muted">Se connecter</a>
		</li>
		{% else %}
			<li>
				<a href="{{ path('app_logout') }}" class="text-muted">Se déconnecter</a>
			</li>
			{% endif %}
			<li>
		<a class="text-muted">La Palme &copy;{{ "now"|date('Y') }}</a>
		</li>
	</ul>
</footer>
