{% extends 'base.html.twig' %}

{% block title %}Accueil - Restaurant La Palme{% endblock %}

{% block body %}

  <main>

	{# CAROUSEL #}

	<div class="carrousel">
		<div class="reglette">
			{% for carousel in carousels %}
				<figure>
					<img class="img-fluid" src="{{ asset('uploads/' ~ carousel.photo) }}" alt="{{ asset('uploads/' ~ carousel.titre) }}">
				</figure>
			{% endfor %}
		</div>

		<div class="previous">
			<i class="fa-solid fa-chevron-left"></i>
		</div>
		<div class="next">
			<i class="fa-solid fa-chevron-right"></i>
		</div>
	</div>

	{# ARTICLE #}

	<h1 class='text-center my-4'>Articles à la Une</h1>

	<div class="row">
		<div class="col-10 mx-auto">

			<div class="card mb-3">
				<div class="row g-0">
					<div class="col-md-4">
						{% for article in articles %}
							<img src="{{ asset('uploads/') ~ article.photo }}" class="img-fluid rounded-start" alt="...">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title text-center">{{ article.titre | capitalize }}</h5>
								<p class="card-text">{{ article.soustitre }}</p>
								<p class="card-text">
									<small class="text-muted">Crée le
										{{ article.createdAt | date('d/m/Y') }}</small>
								</p>
								<hr>
							{% endfor %}
						</div>
					</div>
				</a>

			</div>
		</div>

		{# COMMENTAIRE #}
		<div class="row">
			<div class="col-6 mx-auto">

				{% for commentaire in commentaires | reverse %}

					<div class="alert alert-dark mb-3" role="alert">
						{% if is_granted('ROLE_ADMIN') %}
							<a href="{{ path('hard_delete_commentaire', {'id': commentaire.id}) }}">
								<i class="bi bi-x"></i>
							</a>
						{% endif %}

						<h4 class="alert-heading">{{ commentaire.nom}}
							<span class="h6">posté
								{{ commentaire.createdAt | ago(locale='fr') }}</span>
						</h4>
						<p>{{ commentaire.commentaire | raw }}</p>


					</div>
				{% else %}
					<div class="alert alert-warning mb-3" role="alert">
						<p class="text-center fw-bolder">Aucun commentaire</p>
					</div>
				{% endfor %}

			</div>
		</div>

		    </main>

	{% endblock %}
