{% extends 'base.html.twig' %}

{% block title %}Restaurant La Palme - Nogent-sur-Oise
{% endblock %}

{% block body %}

<style>
  .image-agrandie {
      display: none; /* L'image agrandie est initialement masquée */
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8); /* Couleur de fond semi-transparente */
      z-index: 9999;
    }
    
    .image-agrandie img {
      display: block;
      max-width: 90%;
      max-height: 90%;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
	</style>
	
	<main>

		{% include "include/_flashes.html.twig" %}

		{# IMG ACCUEIL #}

		<h1 style='display:none;'>La Palme - Restaurant Halal et Traditionnel à Nogent-sur-Oise</h1>

		<section class="d-block w-100 d-lg-none">
			<img src="./img/accueil2.png" alt="Restaurant Halal et Traditionnel La Palme Nogent-sur-Oise" class="img-fluid mt-0">
		</section>

		<section class="d-block w-100 d-none d-lg-block mt-0">
			<img src="./img/accueil1.png" alt="Restaurant Halal et Traditionnel La Palme Nogent-sur-Oise" class="img-fluid mt-0">
		</section>
		
		{# CAROUSEL #}

		<div class="d-block w-100 d-none d-lg-block reveal">
			<div class="carrousel">
				<div class="reglette">
					{% for carousel in carousels %}
						<figure>
							<img style="border:20px;" onclick="afficherImageAgrandie(this.src)" src="{{ asset('uploads/' ~ carousel.photo) }}" alt="{{ asset('uploads/' ~ carousel.titre) }}">
						</figure>
					{% endfor %}
				</div>

				<div class="previous">
					<i class="fa-solid fa-chevron-left"></i>
				</div>
				<div class="next">
					<i class="fa-solid fa-chevron-right"></i>
				</div>
			</div>

			{# RESERVEZ #}
			<div class="reservez mb-5">
				<a href="{{ path('register_reservation') }}">
					<button type="button" href="{{ path('register_reservation') }}">Réservez</button>
				</a>
			</div>
		</div>

{# CAROUSEL MOBILE #}

		<div class="d-block w-100 d-lg-none reveal">
			<div class="carrouse">
				<div class="reglette">
					{% for carouselmobile in carouselmobiles %}
						<figure>
							<img src="{{ asset('uploads/' ~ carouselmobile.photo) }}" onclick="afficherImageAgrandie(this.src)" alt="{{ asset('uploads/' ~ carouselmobile.titre) }}">
						</figure>
					{% endfor %}
				</div>

				<div class="previou">
					<i class="fa-solid fa-chevron-left"></i>
				</div>
				<div class="nex">
					<i class="fa-solid fa-chevron-right"></i>
				</div>
			</div>

			{# RESERVEZ #}
			<div class="reservez mb-5">
				<a href="{{ path('register_reservation') }}">
					<button type="button" href="{{ path('register_reservation') }}">Réservez</button>
				</a>
			</div>
		</div>

		<div class="container reveal">

			{# ARTICLE #}
			<div class="article text-center mb-5">
				{% for article in articles %}
					<div class="row reveal text-center" style="padding:40px;">

						<div class="col-md-5">
							<img src="{{ asset('uploads/') ~ article.photo }}" class="img-fluid rounded text-center pb-5 pt-5" style="max-height: 500px;" alt={{ article.titre }}>
						</div>
						<div class="col text-center align-self-center">
							<h2 style="text-decoration:underline;">{{ article.titre }}</h2>
							<h2>{{ article.soustitre }}</h2>
							<p>{{ article.contenu}}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		
		{# GALERIE #}

		<div class="container reveal">

			<div class="row text-center text-lg-start">
				{% for galerie in galeries %}
					<div class="col-lg-4 col-md-3 text-center">
						<a class="d-block mb-4">
							<img class="img-fluid rounded" onclick="afficherImageAgrandie(this.src)" style="object-fit: cover; height: 300px; width:300px;" src="{{ asset('uploads/') ~ galerie.img }}" alt="{{ galerie.titre }}">
						</a>
					</div>
				{% endfor %}
			</div>
		</div>

		<div
			class="container reveal">

			{# VALEURS #}

			<h2 class="featurette-heading fw-normal lh-1 mt-2 text-center mt-3">Nos valeurs</h2>
			<div class="marketing text-center">

				<div class="row p-3">
					<div class="col-lg-4">
						<img class="bd-placeholder-img rounded" width="140" height="140" alt="Restaurant Qualité Bas Prix" src="./img/prix_qualite.jpg" role="img" aria-label="Placeholder: 140x140" preserveaspectratio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text>

						<h2 class="fw-normal mt-4 pb-1">Rapport Qualité/Prix
						</h2>
					</div>

					<div class="col-lg-4">
						<img class="bd-placeholder-img rounded" width="140" height="140" alt="Restaurant Halal Nogent-sur-Oise" src="./img/logo_halal.png" role="img" aria-label="Placeholder: 140x140" preserveaspectratio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text>
						<h2 class="fw-normal mt-4">Certification Halal</h2>
					</div>

					<div class="col-lg-4">
						<img class="bd-placeholder-img rounded" width="140" height="140" alt="Diversité de plat traditionnel et culturel" src="./img/diversite.webp" role="img" aria-label="Placeholder: 140x140" preserveaspectratio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text>
						<h2 class="fw-normal mt-4">Diversité</h2>
					</div>

				</div>
			</div>


		</div>

		<div
			class="container reveal">

			{# COMMENTAIRE #}

			<div class="row">
				<div class="col-6 mx-auto">

					{% for commentaire in commentaires | reverse %}

						<div class="alert alert-dark mb-3" role="alert">
							{% if is_granted('ROLE_ADMIN') %}
								<a href="{{ path('hard_delete_commentaire', {'id': commentaire.id}) }}">
									<i class="bi bi-x d-flex flex-row-reverse"></i>
								</a>
							{% endif %}

							<h4 class="alert-heading">{{ commentaire.nom}}
								<span class="h6">posté
									{{ commentaire.createdAt | ago(locale='fr') }}</span>
							</h4>
							<p class="text-dark">{{ commentaire.commentaire | raw }}</p>
						</div>
					{% else %}
						<div class="alert alert-dark alert-warning mb-3 mt-5" role="alert">
							<p class="fw-bolder text-dark text-center mx-auto">Aucun commentaire</p>
						</div>
					{% endfor %}

				</div>
			</div>
		</div>

	</main>

  <script>
    function afficherImageAgrandie(imageURL) {
      // Créer un élément d'image pour l'image agrandie
      var imageAgrandie = document.createElement("img");
      imageAgrandie.src = imageURL;
      
      // Créer le conteneur de l'image agrandie
      var conteneurImageAgrandie = document.createElement("div");
      conteneurImageAgrandie.className = "image-agrandie";
      conteneurImageAgrandie.appendChild(imageAgrandie);
      
      // Ajouter l'image agrandie à la page
      document.body.appendChild(conteneurImageAgrandie);
      
      // Afficher l'image agrandie
      conteneurImageAgrandie.style.display = "block";
      
      // Ajouter un gestionnaire d'événement pour masquer l'image agrandie lorsque vous cliquez dessus
      conteneurImageAgrandie.addEventListener("click", function() {
        conteneurImageAgrandie.style.display = "none";
      });
    }
	</script>

{% endblock %}
