{% extends "base.html.twig" %}

{% block title %}Admin - Ajouter une image a la galerie{% endblock %}

{% block body %}

{% if galerie is not defined %}
	<h1 class="text-center my-3 text-white">Ajouter une image</h1>
{% else %}
	<h1 class="text-center my-3 text-white">Modifier l'image n° {{ galerie.id}} </h1>
{% endif %}

	<div class="row">
		<div class="col-5 mx-auto">

			{{ form_start(form) }}

			{{ form_row(form.titre) }}
			{{ form_row(form.img) }}
			
			{{ form_end(form) }}

		</div>
	</div>

{% endblock %}
