{% extends 'base.html.twig' %}

{% block title %}Voir les archives
{% endblock %}

{% block body %}
	<h1 class="text-center my-1 mt-4 text-white">Espace Archive</h1>

	<div class="row my-3 mx-auto">
		<div>
			<a class="btn btn-sm btn-outline-light mt-4" href="{{ path('show_dashboard') }}">
				<i class="bi bi-arrow-left"></i>
				Retour au tableau de bord</a>
		</div>
	</div>


	{# ################# FLASHES ################# #}
	<div class="row my-1 mx-auto">
		<div class="col-11 mx-auto">
			{% include 'include/_flashes.html.twig' %}
		</div>
	</div>
	{# ################# FLASHES ################# #}

	<div class="row my-1 mx-auto">
		<div class="col-10 mx-auto my-2">


			<div class="row my-5 mx-auto text-center col-4">
						<a href="{{ path('delete_all_article_archive') }}" class="btn btn-danger" title="Supprimer définitivement tous les articles" onclick="return confirm('Voulez-vous supprimer définitivement tous les articles archivés ?')">
									<i class="bi bi-trash"> Tout supprimer</i>
								</a>
					</div>

			<h2 class="text-center">Article</h2>
			<table class="table">
				<thead>
					<tr class="text-center text-white">
						<th>#</th>
						<th>Titre</th>
						<th>Photo</th>
						<th>Crée le</th>
						<th>Modifié le</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>

					{% for article in articles %}
						<tr class="text-center align-middle text-white">
							<td>{{ article.id }}</td>
							<td>{{ article.titre | length > 20 ? article.titre | slice(0,20) ~ '...' : article.titre }}</td>
							<td><img width="150" height="150" class="img-fluid" src="{{ asset('uploads/' ~ article.photo) }}" alt="{{ article.titre }}"></td>
							<td>{{ article.createdAt | date('d/m/Y') }}</td>
							<td>{{ article.updatedAt | date('d/m/Y') }}</td>
							<td>
								<a href="{{ path('restore_article', {'id': article.id}) }}" class="btn btn-success" title="Restaurer l'article">
									<i class="bi bi-reply"></i>
								</a>
								<a href="{{ path('hard_delete_article', {'id': article.id}) }}" class="btn btn-danger" title="Supprimer définitivement l'article" onclick="return confirm('Voulez-vous supprimer définitivement cet article ?')">
									<i class="bi bi-trash"></i>
								</a>
							</td>

						</tr>
					{% else %}
						<tr>
							<td colspan="7" class="bg-secondary text-center">Aucun article archivé</td>
						</tr>

					{% endfor %}

				</tbody>
			</table>

		</div>

		<div class="col-10 mx-auto my-4">

			<h2 class="text-center">Message</h2>

			<div class="row my-5 mx-auto text-center col-4">
						<a href="{{ path('delete_all_message_archive') }}" class="btn btn-danger" title="Supprimer définitivement les messages" onclick="return confirm('Voulez-vous supprimer définitivement tous les messages archivés ?')">
									<i class="bi bi-trash"> Tout supprimer</i>
								</a>
					</div>

			<table class="table">
				<thead>
					<tr class="text-center text-white">
						<th>#</th>
						<th>Date</th>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Email</th>
						<th>Message</th>
						<th>Action</th>
					</tr>
				</thead>

				{% for message in messages %}

					<tbody>
						<tr class="text-center align-middle text-white">
							<td>{{ message.id }}</td>
							<td>{{ message.createdAt | date('d/m/Y') }}</td>
							<td>{{ message.nom }}</td>
							<td>{{ message.prenom }}</td>
							<td>{{ message.email }}</td>
							<td>{{ message.message }}</td>
							<td>
								<a href="{{ path('restore_message', {'id': message.id}) }}" class="btn btn-success" title="Restaurer le message">
									<i class="bi bi-reply"></i>
								</a>
								<a href="{{ path('hard_delete_message', {'id': message.id}) }}" class="btn btn-danger" title="Supprimer définitivement le message" onclick="return confirm('Voulez-vous supprimer définitivement ce message ?')">
									<i class="bi bi-trash"></i>
								</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="7" class="bg-secondary text-center">Aucun message archivé</td>
						</tr>

					{% endfor %}


				</tbody>
			</table>


		</div>

		<div class="col-10 mx-auto my-4">

			<h2 class="text-center">Réservation</h2>

						<div class="row my-5 mx-auto text-center col-4">
						<a href="{{ path('delete_all_reservation_archive') }}" class="btn btn-danger" title="Supprimer définitivement toutes les réservations" onclick="return confirm('Voulez-vous supprimer définitivement toutes les réservations archivées ?')">
									<i class="bi bi-trash"> Tout supprimer</i>
								</a>
					</div>

			<table class="table">
				<thead>
					<tr class="text-center text-white">
						<th>#</th>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Email</th>
						<th>Nombre de personnes</th>
						<th>Date et heure</th>
						<th>Action</th>
					</tr>
				</thead>

				{% for reservation in reservations %}

					<tbody>
						<tr class="text-center text-white">
							<td>{{ reservation.id }}</td>
							<td>{{ reservation.nom }}</td>
							<td>{{ reservation.prenom }}</td>
							<td>{{ reservation.email }}</td>
							<td>{{ reservation.personne }}</td>
							<td>{{ reservation.date | date('d/m/Y à H:i') }}</td>
							<td>
								<a href="{{ path('restore_reservation', {'id': reservation.id}) }}" class="btn btn-success" title="Restaurer la réservation">
									<i class="bi bi-reply"></i>
								</a>
								<a href="{{ path('hard_delete_reservation', {'id': reservation.id}) }}" class="btn btn-danger" title="Supprimer définitivement la réservation" onclick="return confirm('Voulez-vous supprimer définitivement cette réservation ?')">
									<i class="bi bi-trash"></i>
								</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="7" class="bg-secondary text-center">Aucune réservation archivée</td>
						</tr>

					{% endfor %}


				</tbody>
			</table>

		</div>

		<div class="col-10 mx-auto my-4">

			<h2 class="text-center">Carousel</h2>


			<div class="row my-5 mx-auto text-center col-4">
						<a href="{{ path('delete_all_carousel_archive') }}" class="btn btn-danger" title="Supprimer définitivement les images du carousel" onclick="return confirm('Voulez-vous supprimer définitivement tous les images du carousel archivés ?')">
									<i class="bi bi-trash"> Tout supprimer</i>
								</a>
					</div>

			<table class="table">
				<thead>
					<tr class="text-center text-white">
						<th>#</th>
						<th>Titre</th>
						<th>Image</th>
						<th>Crée le</th>
						<th>Modifié le</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>

					{% for carousel in carousels %}
						<tr class="text-center text-white">
							<td>{{ carousel.id }}</td>
							<td>{{ carousel.titre }}</td>
							<td><img width="150" height="150" class="img-fluid" src="{{ asset('uploads/' ~ carousel.photo) }}"></td>
							<td>{{ carousel.createdAt | date('d/m/Y') }}</td>
							<td>{{ carousel.updatedAt | date('d/m/Y') }}</td>
							<td>
								<a href="{{ path('restore_carousel', {'id': carousel.id}) }}" class="btn btn-success" title="Restaurer l'image du carousel">
									<i class="bi bi-reply"></i>
								</a>
								<a href="{{ path('hard_delete_carousel', {'id': carousel.id}) }}" class="btn btn-danger" title="Supprimer définitivement l'image du carousel" onclick="return confirm('Voulez-vous supprimer définitivement cette image ?')">
									<i class="bi bi-trash"></i>
								</a>
							</td>

						</tr>
					{% else %}
						<tr>
							<td colspan="7" class="bg-secondary text-center">Aucune image archivée</td>
						</tr>

					{% endfor %}
				</tbody>
			</table>

		</div>

	{% endblock %}
