{% extends "base.html.twig" %}

{% block title %}Avis - La Palme
{% endblock %}

{% block body %}

	{{ form_start(form) }}
	<div class="contenu">
		<div class="screen">
			<div class="screen-header">
				<div class="screen-header-left">
					<div class="screen-header-button close"></div>
					<div class="screen-header-button maximize"></div>
					<div class="screen-header-button minimize"></div>
				</div>
				<div class="screen-header-right">
					<div class="screen-header-ellipsis"></div>
					<div class="screen-header-ellipsis"></div>
					<div class="screen-header-ellipsis"></div>
				</div>
			</div>
			<div class="screen-body">
				<div class="screen-body-item left">
					<div class="app-title">
						<h1><span class="text-center">Espace Commentaire</span></h1>
					</div>
					<div class="col-6 mx-auto">
						<div class="row">
							<div class="app-form-control">{{ form_row(form.nom) }}</div>
						</div>
						<div class="row">
							<div class="app-form-control">{{ form_row(form.commentaire) }}</div>
						</div>
					</div>

					{{ form_row(form.submit) }}

					{{form_end(form)}}

				</div>
			</div>
		</div>
	</div>
</div></div></div>{% endblock %}
