{% extends "base.html.twig" %}

{% block title %}La Palme - Avis{% endblock %}


{% block javascripts %}
<script src="https://cdn.ckeditor.com/ckeditor5/37.0.1/classic/ckeditor.js"></script>

<script>
    ClassicEditor
        .create( document.querySelector( '.editor' ) )
        .catch( error => {
            console.error( error );
        } );
</script>

{% endblock %}

{% block body %}

<h2 class="text-center">Avis</h2>

	<div class="row">
		<div class="col-6 mx-auto">
			{% include 'include/_flashes.html.twig' %}
		</div>
	</div>

    <div class="row">
    <div class="col-8 mx-auto">

  {{ form_start(form) }}

    <div class="row text-center">
    <div class="col-6">{{ form_row(form.nom) }}</div>
    </div>
     <div class="row">
    <div class="col-6">{{ form_row(form.commentaire) }}</div>
    </div>

    {{ form_row(form.submit) }}
    
  {{form_end(form)}}

    </div>
    </div>

{% endblock %}