{% extends "base.html.twig" %}

{% block title %}Avis - La Palme
{% endblock %}

{% block body %}

	<h1 class="text-center text-white mt-2">Espace commentaire</h1>

	<div class="col-6 mx-auto">
		{% include 'include/_flashes.html.twig' %}
	</div>


	<div class="col-8 mx-auto">

		{{ form_start(form) }}

		<div class="row">
			<div>{{ form_row(form.nom) }}</div>
		</div>

		<div class="row">
			<div>{{ form_row(form.commentaire) }}</div>
		</div>

		{{ form_row(form.submit) }}

		{{form_end(form)}}

	</div>

{% endblock %}
